.pagetitle p {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding-left: 17px;
  padding-top: 30px;
}

.poster1 img {
  width: 180px;
  margin: 8px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.363) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.336) 0px 8px 16px -8px;
}

.movieposters {
  display: flex;
  flex-wrap: wrap;
  padding-top: 5px !important;
  justify-content: center;
  margin: 5px;
  background-color: #fff;
}

.poster1 p {
  color: rgb(0, 0, 0);
  padding-left: 10px;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 8px;
}

.small {
  font-size: 10px !important;
  color: rgb(71, 71, 71);
}

.seriesposters {
  display: flex;
  flex-wrap: wrap;
  padding-top: 5px !important;
  justify-content: center;
  margin: 5px;
  background-color: rgb(255, 255, 255);
}

/* upcomings */
.poster2 img {
  width: 350px;
  margin: 8px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.363) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.336) 0px 8px 16px -8px;
}

.poster2 p {
  color: rgb(0, 0, 0);
  padding-left: 10px;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 8px;
}
/* slider */

@media screen and (max-width: 768px) {
}
